// app global css in SCSS form
.virtual-scroll-table {
  th > .q-checkbox {
    display: none;
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:last-child th {
    top: 48px;
  }
  thead tr:first-child th {
    top: 0;
  }
  tbody {
    scroll-margin-top: 48px;
  }
}
